<!DOCTYPE html>
<html>
<head>
	<title>angular6</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

	<div ng-app="myapp" ng-controller="myctrl">
	
	<input type="text" name="name" ng-model="qst">
	<table border="1">
		<tr>
			<th>country</th>
			<th>capital</th>
			<th>National sport</th>
		</tr>
		<tr ng-repeat="x in countries">
			<td>{{x.name}}</td>
			<td>{{x.capital}}</td>
			<td>{{x.sport}}</td>
		</tr>
	</table>
	</div>


	<script>
		var app=angular.module('myapp',[]);
		app.controller('myctrl',function($scope,$http) {

		$http.get('countries.json').then(function(response){
			$scope.countries=response.data;
		});
		});
	</script>
</body>
</html>